<html>
    <head>
    </head>
    <body>
        <h2>List of all order</h2>
         <!-- To show form that can help create new order -->
         <form method="post" action="/orders/addorder">
            <!-- For id -->
            <label>Order Id</label>
            <input type="number" name="id" id="id" />

             <!-- For name -->
             <label>Customer name</label>
             <input type="text" name="name" id="name" />

              <!-- For quantity -->
            <label>Order quantity</label>
            <input type="number" name="quantity" id="quantity" />

             <!-- For unit price -->
             <label>unit price</label>
             <input type="number" name="unitprice" id="unitprice" />

              <!-- For foodorder -->
            <label>Food Ordered</label>
            <input type="text" name="foodorder" id="foodorder" />

             <!-- For date -->
             <label>Food Ordered date</label>
             <input type="date" name="date" id="date" />

            <!-- Submit button -->
            <input type="search" value="Submit"/>
            </form>
            <br/>
    </body>
    </html>