<html><!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
    <h2>Show movie list</h2>
    <section data-position= 'movie'>
       <% for (var i= 0; i<allthemovies.length; i++) { %>
            <%= allthemovies[i].name %> &nbsp;
            <%= allthemovies[i].director %> &nbsp;
            <%= allthemovies[i].year_released %> &nbsp; <br />
       <% } %>

    </section>
    
</body>
</html></html>